/*----------------------------
Header style css 
--------------------------- */
header {
    background-image: url(images/banner/banner3.png);
    height: 808px;
}

#frist-section {
    margin-left: 70%;
    margin-right: 10%;
    text-align: right;
}

/* ----------------------------
main section
 -------------------------------*/




/* --------------------
footer-section css
----------------------- */
footer {
    color: aliceblue;
    background-color: black;
    height: 500px;
}

#icon {
    display: flex;
}

footer li {
    margin: 10px;
    list-style: none;
}

.row {
    display: flex
}

.column1 {
    margin: 100px 120px;
}

.column2 {
    margin: 100px 900px;
}