/*----------------------------
Header style css 
--------------------------- */
header {
    background-image: url(images/banner/banner3.png);
    height: 808px;
}

#frist-section {
    margin-left: 70%;
    margin-right: 10%;
    text-align: right;
}

/* ----------------------------
--------------------------------
main section
--------------------------------
 -------------------------------*/
/* 1st- section */
.failures {
    display: flex;
    height: fit-content;
    width: 1000px;
    margin: 22%;
    background-color: aliceblue;
}

#fail {
    margin-top: 40%;
}

#fail li {
    list-style: none;
}

#fails-list li {
    list-style: circle;
}

/* -----------------------------------
             2nd-section 
---------------------------------------*/
#my-plans {
    text-align: center;
}

.promise {}

.plans ul {
    display: flex;
    margin: 2% 0% 5% 15%;
}

.plans ul li {
    list-style: none;
    margin-left: 9%;
    text-align: center;
}

/*--------------------------------------------
                       3rd section
-------------------------------------------*/
.watch {
    margin-left: 18%;
    height: 500px;
    background-image: url(images/watch.png);
    background-repeat: no-repeat;
}

.gradient {
    height: 500px;
    background-image: url(images/gradient1.png);
    background-repeat: no-repeat;
}

.gradient li {
    color: aliceblue;
    list-style: none;
}

/* --------------------
footer-section css
----------------------- */
footer {
    color: aliceblue;
    background-color: black;
    height: 500px;
}

#icon {
    display: flex;
}

footer li {
    margin: 10px;
    list-style: none;
}

.row {
    display: flex
}

.column1 {
    margin: 100px 120px;
}

.column2 {
    margin: 100px 900px;
}